.beauty-heading-section {
    font-size: 40px;
    font-weight: bold;
    color: black; 
    /* max-width: 30rem; */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 9rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 2px indianred;
    border-bottom: 4px solid yellow;
    padding-bottom: 10px;
  }
  